---
title: Home
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      {{ page.title | escape }} - {{ site.name | escape }}
      | {% if page.seo_title %}{{ page.seo_title | escape }}{% else %}{{ site.seo_title | escape }}{% endif %}
    </title>
    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.meta_description }}{% endif %}">
    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      {{ 'bootstrap.css' | stylesheet_tag }}
      {{ 'fonts.css' | stylesheet_tag }}
      {{ 'styles.css' | stylesheet_tag }}
      {% block additional_css %}
        <!-- Default additional css -->
      {% endblock %}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% inline_editor %}
  </head>
  <body class="{{ page.slug }}">
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <div class="container">

      <!-- Site Title -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <h1 class='title'><a href="/">{{ site.name | escape }}</a></h1>
        </div>
      </div>

      <!-- Site Navigation -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% nav site, depth: 1, no_wrapper: true, active_class: "active" %}
              </ul>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav subnav navbar-nav">
                {% block subnav %}
                {% endblock %}
              </ul>
            </div>
             
          </nav>

        </div>
      </div>
      

      <!-- Page Content -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          {% comment %}
            <h2>{{ page.title | escape }}</h2>
          {% endcomment %}

          
          {% block main %}

            <!-- TODO: sort out image format -->
            <div class='rotating_image_container'>
              <img id='rotating_image' />
            </div>


            <script type='text/javascript'>

            //...er, ok..
            shuffle = function(o){ 
              for(var j, x, i = o.length; i; 
              j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
              return o;
            };


            var images = [
            {% for image in contents.images %}
              "{{ image.file | resize: 'x500' }}" ,
            {% endfor %}
            ""
            ];

            images = shuffle(images);

            var i = 0;
            $(function(){
              var updateGallery = function() {
                var src = images[i++];
                var image = $("<img />").attr('src', src).attr('id', 'rotating_image')
                .load(function() {
                  if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                      alert('broken image!');
                  } else {
                      $("#rotating_image").replaceWith(image);
                  }
                });

              };
              var galleryInterval = setInterval(updateGallery, 6000);
              updateGallery();
            });

            </script>


          
          {% endblock %}
          {% include 'footer' %}
        </div>
      </div>
    </div>

    <!-- Javascripts -->
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'main.js' | javascript_tag }}
    {% block additional_js %}
      <!-- Default additional js -->
    {% endblock %}
  </body>
</html>


