---
title: Gallery Template #NB: This only gets overridden properly when pushed to Engine!
listed: true
published: true
content_type: galleries
---

{% extends parent %}

{% block additional_css %}
      {{ 'colorbox.css' | stylesheet_tag }}
{% endblock %}



{% block main %}

<div>
  {{ gallery.description }}
</div>

<div class="images row">
  {% for image in gallery.images %}
    <div class="image col-xs-6 col-sm-4 col-md-3">
      {% assign title = image.title %}
      {% assign size = '250x' %}
      <div class="img-box">
        <a class='img-group' href="{{ image.file | resize: '800x>' }}" title="{{ title }}{% if image.media %}, {{ image.media }}{% endif %}{% if image.date %}, {{ image.date | localized_date: '%Y' }} {% endif %}">
          <img src="{{ image.file | resize: size }}" alt="{{ title | escape }}" />
        </a>
      </div>
    </div>
    {% cycle  '', '<div class="clearfix visible-xs">&nbsp;</div>' %}
    {% cycle '', '', '<div class="clearfix visible-sm ">&nbsp;</div>' %}
    {% cycle '', '', '', '<div class="clearfix hidden-sm hidden-xs">&nbsp;</div>' %}
  {% endfor %}
</div>

{% endblock %}


{% block additional_js %}
    <!-- Don't need this? -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    -->
    {{ 'jquery.colorbox.js' | javascript_tag }}
    <script type='text/javascript'>
      $(document).ready(function(){
        //Examples of how to assign the Colorbox event to elements
        //$(".img-group").colorbox({rel:'img-group', transition:"none", maxWidth: "80%", maxHeight: "80%", width: "90%", height: "90%", });
        $(".img-group").colorbox({rel:'img-group', transition:"none", width: "80%", height: "80%", });
      });
    </script>
{% endblock %}
